@import '../styles/theme';

.App {
  padding: 40px;

  &-fileUpload {
    @include flexbox;
    @include justify-content(center);
  }
  &-table {
    margin-top: 50px;
    max-height: 500px;
    overflow: auto;
  }

  &-chartContainer {
    @include flexbox;
  }
}