@import '../styles/_theme.scss';
.Table {
  &-container {
    font-family: $font-roboto-regular;
    font-size: $font-size-regular;
    width: 100%;
  }

  &-headerContainer {
    color: $color-black;
    background-color: transparentize($color-red-company, 0.8);
  }

  &-headerRow,
  &-row {
    padding: 10px 0;

    &:first-child,
    &:last-child {
      padding: 10px;
    }
  }

  &-rowGroup {
    & + & {
      border-top: 1px solid $color-black;
    }
  }

  &-rowGroupSelected {
    background-color: transparentize($color-red-company, 0.9);
  }
}