@import '../styles/theme';

.FileUpload {
  &-input {
    display: none;
  }

  &-label {
    cursor: pointer;
    color: $color-white;
    padding: 4px 10px;
    background-color: $color-red-company;
    border-radius: 4px;
    font-size: $font-size-medium;

  }
}